.logo {
  width: 10rem;
  border-radius: 0.3rem;
}

.top-bar {
  background-color: #145973;
}

body {
  background: #faf0f1;
}

.image-box {
  border-style: solid;
  background-color: #427f9c;
  color: #ffffff;
}

.image-tile-index {
  height: auto;
  width: auto;
}

.grid-margin-x {
  margin-left: 4rem;
  margin-right: 4rem;
  row-gap: 2rem;
}

.grid-margin-x .small-4 {
  margin-left: 0rem;
}

.image-tile-index {
  height: auto;
  width: auto;
}